{% extends "base.html" %}

{% block header %}
<title>Регистрация сотрудника</title>
{% endblock header %}



{% block content %}



<img align="center" style="margin-left:46%;margin-top: 4%" id="" class="site-logo" src="/images/Green_logo.png"  alt="logo company">

<table align="center" style="width:30%;margin-top: 6%;">
  <tr>
    <caption>Регистрация сотрудника</caption>
  </tr>
  <tr>
    <td>Имя</td>
    <td><input type="text" id="fname" name="flogin" value=""><br></td>
  </tr>
  <tr>
    <td>Логин</td>
    <td><input style="width:90%" type="text" id="flogin" name="flogin" value=""><br></td>
  </tr>
    <tr>
    <td>Пароль</td>
    <td><input type="text" id="fpass" name="fpass" value=""><br></td>
  </tr>
    <tr>
    <td>Повторите пароль</td>
    <td><input type="text" id="frepass" name="frepass" value=""><br></td>
  </tr>
    <tr>
    <td>E-mail</td>
    <td><input type="text" id="femail" name="femail" value=""><br></td>
  </tr>
    <tr>
    <td>Телефон</td>
    <td><input type="text" id="fphone" name="fphone" value=""><br></td>
  </tr>
  <tr>
    <td>ИНН (Организации или ИП )</td>
    <td><input type="text" id="finn" name="finn" value=""><br></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <button><a href="registration" type="submit" value="Зарегистрироваться">Зарегистрироваться</a></button>
    </td>
  </tr>

</table>

{% endblock content %}

