{% extends "base.html" %}

{% block header %}
<title>Личный кабинет сотрудника</title>
{% endblock header %}



{% block content %}
<img align="center" style="margin-left:46%;margin-top: 4%" id="" class="site-logo" src="/images/Green_logo.png"  alt="logo company">

<table align="center" style="width:30%;margin-top: 6%;">
  <tr>
    <caption>Личный кабинет сотрудника</caption>
  </tr>
  <tr>
    <td><button><a href="" type="submit" value="Войти">Проекты</a></button></td>
  </tr>
  <tr>
    <td><button><a href="" type="submit" value="Зарегистрироваться">Команда</a></button></td>
  </tr>
 <tr>
    <td><button><a href="" type="submit" value="Зарегистрироваться">Настройка профиля</a></button></td>
  </tr>
</table>





{% endblock content %}
